@import url(../century_gothic.css);
html,
body {
    width: 100%;
    background: #0E0E0E;
    font-style: normal;
    font-family: 'Century Gothic';
}

h1 {
    color: #FFF;
    font-weight: 700;
    font-size: calc(24px + 16 *(100vw/1440));
    margin: 3%;
    /* font-size: minmax(40px, 4.4vw); */
}

h2:hover,
h4:hover {
    color: #E8E8E8;
    text-shadow: -1px -1px 0 #1C1C1C, 1px -1px 0 #1C1C1C, -1px 1px 0 #1C1C1C, 1px 1px 0 #1C1C1C;
    transition-duration: 200ms;
}

h1:hover {
    color: #0E0E0E;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h3:hover {
    color: #0E0E0E;
    text-shadow: -1px -1px 0 #EAE6E6, 1px -1px 0 #EAE6E6, -1px 1px 0 #EAE6E6, 1px 1px 0 #EAE6E6;
}

h2 {
    font-weight: 700;
    font-size: calc(24px + 16 *(100vw/1440));
    color: #1C1C1C;
    margin: 17px 0 15px 0;
}

h3 {
    font-weight: 700;
    font-size: calc(24px + 16 *(100vw/1440));
    color: #EAE6E6;
    /* margin: 5% 0; */
}

h4 {
    transition-duration: 200ms;
}

h5 {
    width: min-content;
    font-style: italic;
    font-weight: 700;
    font-size: calc(28px + 4 *(100vw/1440));
    color: #1C1C1C;
    white-space: nowrap;
    margin: 0 1%;
}

p {
    font-weight: 400;
    font-size: calc(14px + 2 *(100vw/1440));
    color: #FFF;
}

header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background: rgba(14, 14, 14, 0.5);
    box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8.5px);
    z-index: 2;
}

.header__logo{
    display: none;
}
@media screen and (max-width: 1024px) {
    .header__logo{
        display: block;
        padding-right: 180px;
        z-index: 3;
    }
}
.menu__btn-desk {
    width: 175px;
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    background-color: #ebebeb;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #1C1C1C;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.menu__btn-desk:hover {
    background: #797979;
}

.za_btn {
    margin: 0;
    position: absolute;
    right: 10px;
    bottom: 7px;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 5%/28%;
    color: black;
    font-weight: 600;
    transition-duration: 200ms;
}
@media screen and (max-width: 1024px) {
    .za_btn {
        display: none;
    }
}

.preview {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-img {
    min-width: 350px;
    transition-duration: 800ms;
}

.preview-img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    
}

.preview-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    min-width: 280px;
    color: #FFF;
    line-height: 20px;
}


@media screen and (max-width: 1024px) {
    .preview{
        height: 100vh;
    }
}

.swiper1 {
    transition: transform .3s;
}

.section2 {
    margin-bottom: 1%;
    min-height: 440px;
    padding-top: 26px;
}

.card {
    width: 350px;
    height: 440px;
    box-sizing: border-box; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: minmax(40px, auto); 
    justify-items: center;
    align-items: center;
    align-content: space-between;
    text-align: center; 
    cursor: pointer;
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.03);
}

.card p {
    align-self: flex-start;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    max-width: 90%;
}

.card p:hover {
    text-decoration-line: underline;
}

.card img {
    object-fit: scale-down;
    width: 314px;
}

.portfolio {
    padding-bottom: 15px;
}

.portfolio__card {
    position: relative;
    cursor: pointer;
}
.portfolio__card .swiper-slide {
    width: auto !important;
}
.portfolio__title {
    position: absolute;
    max-width: 200px;
    bottom: 15px;
    left: 15px;
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;

}
.portfolio__img {
    max-height: 369px;
}

.about {
    position: relative;
    width: 100vw;
    max-width: 100%;
    /* height: 200px; */
    overflow-x: hidden;
    background: #EAE6E6;

}

.about__title {
    padding-top: 15px;
    margin-bottom: 230px;
}

.about__title:hover {
    color: #0E0E0E;
    text-shadow: -1px -1px 0 #EAE6E6, 1px -1px 0 #EAE6E6, -1px 1px 0 #EAE6E6, 1px 1px 0 #EAE6E6;
}

.about__title {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 25s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about__wrapper::before{
    content: '';
    position: absolute;
    background-image: url(../image/about-img-decor.png);
    bottom: 0;
    right: 0;
    top: -15%;
    left: 1;
    width: 90px;
    height: 140px;
}
.about__desc{
    padding-left: 90px;
}
.about__desc-title {
    display: inline-block;
    font-family: Century Gothic;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 160px;
    position: relative;
    z-index: 1;
}

.about__desc-title::after{
    content: '';
    position: absolute;
    background-image: url(../image/about-title-decor.png);
    right: 0;
    bottom: 0;
    top: -70%;
    left: -85%;
    width: 116px;
    height: 100px;
    z-index: 0;
}

.about__desc-text {
    font-family: Century Gothic;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    max-width: 434px;
    margin-bottom: 6px;
    
}

.about__desc-img {
    width: 100%;
    max-width: 840px;
    
}

.partners {
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0 75px 0;
}

.partners__logos {
    margin-top: 50px;
    max-width: 995px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.partners__img {
    padding: 20px 30px;
    object-fit: scale-down;
    transition: transform .2s;
    transition-duration: 400ms;
}

.partners__img:hover {
    transform: scale(1.1);
}

.section5 {
    height: 100vh;
    background: #E8E8E8;
}

.uslugi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;}

.uslugi_title{
    margin-bottom: 40px;
}

.uslugi_text {
    width: 55%;
    min-width: 270px;
    padding-top: 100px;
    padding-left: 90px;
}

.uslugi_text span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.uslugi_text p,
span {
    width: 100%;
    max-width: 760px;
    color: #000;
    font-size: calc(14px + 6 *(100vw/1440));
    line-height: 25px;
}

.uslugi_card {
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
}

.ucard {
    box-sizing: border-box;
    text-align: center;
    width: 32.5%;
    min-width: 280px;
    transition: transform .2s;
    position: relative;
    display: inline-block;
    transition-duration: 400ms;
}

.ucard img {
    width: 250px;
    object-fit: cover;
    width: 100%;
    height: fit-content;
    max-height: 365px;
    margin-top: 20px;
    cursor: pointer;
}

.ucard span {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 2px;
    font-weight: 700;
    font-size: calc(18px + 4 *(100vw/1440));
    background: rgba(0, 0, 0, 0.5);
    padding: 7px 5px;
}

.ucard:hover {
    transform: scale(1.05);
}


/* .img_card {
    object-fit: contain;
    width: 100%;
    height: 340px;
    margin-top: 20px;
    cursor: pointer;
} */

.a2back {
    margin-top: -10px;
    height: 120px;
    width: 18%;
    min-width: 60px;
    background-image: url('../image/a2back.svg');
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

.a2back:hover {
    background-image: url('../image/a2backhover.svg');
    background-size: contain;

}

@media (max-width: 480px) {
    .uslugi_card {
        padding: 10px 0;
    }
    .ucard {
        min-width: 100vw;
    }
}

.section6 {
    display: flex;
    flex-flow: column;
    padding: 0 4%;
}

.zayavka {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 36%;
    max-width: 476px;
    min-width: 280px;
}

input[type='text'] {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 23px;
    margin: 3% 0;
    display: inline-block;
    background-color: #000;
    border-color: #fff;
    color: #fff;
    font-weight: 400;
    font-size: calc(12px + 4 * (100vw / 1440));
    font-style: normal;
}

.phone_mail {
    box-sizing: border-box;
    width: 100%;
    margin: 3% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

input[type='email'],
[type='tel'] {
    box-sizing: border-box;
    width: 49%;
    padding: 16px 23px;
    display: inline-block;
    background-color: #000;
    border-color: #fff;
    color: #fff;
    font-weight: 400;
    font-size: calc(12px + 4 * (100vw / 1440));
    font-style: normal;
}

textarea {
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: calc(12px + 4 *(100vw/1440));
    padding: 16px 23px;
    width: 100%;
    height: 50%;
    min-height: 130px;
    margin: 3% 0;
    background-color: #000;
    color: #FFF;
    border-color: #FFF;
    font-style: normal;
}

input[type=submit] {
    box-sizing: border-box;
    padding: 2%;
    margin: 3% 0;
    width: 100%;
    background: #F4F4F4;
    font-weight: 400;
    font-size: calc(16px + 4 *(100vw/1440));
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    color: #1C1C1C;
}

input[type=submit]:hover {
    background: #C8C8C8;
}

input[type=submit]:focus {
    background: rgba(244, 244, 244, 0.5);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.25);
}

.input-file {
    margin: 3% 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: baseline;
}

.input-file-btn {
    cursor: pointer;
    padding: 10px 20px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border: none;
    font-weight: 400;
    font-size: calc(12px + 4 *(100vw/1440));
    color: #060606;
    background: #F4F4F4;
    transition: background-color 0.2s;
    cursor: pointer;
    white-space: nowrap;
}

.file_wrap {
    display: flex;
    flex-direction: column;
    max-width: 190px;
}

.input-file-btn:hover {
    background: #C8C8C8;
}

.input-file-btn:focus {
    background: #F4F4F480;
}

.input-file-text {
    padding: 0 0 0 4%;
    font-weight: 400;
    font-size: calc(12px + 8 *(100vw/1440));
    line-height: 25px;
    color: #C8C8C8;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.seti {
    margin: 1% 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: ". soc mail";
}

@media (max-width: 480px) {
    .seti {
        grid-template-columns: 1fr;
        grid-template-areas: " soc "" mail";
        row-gap: 5px;
    }
    .onas {
        justify-content: center;
    }
    .file_wrap {
        max-width: 120px;
    }
    .input-file-btn {
        padding: 9px 2px;
    }
    input[type='email'],
    input[type='tel'],
    input[type='text'] {
        padding: 16px 7px;
    }
}

.file_name {
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.soc {
    width: 90px;
    grid-area: soc;
    justify-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.soc a {
    width: 30px;
    height: 30px;
}

.soc_a,
.soc_a2 {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('../image/tel.svg');
    background-size: contain;
    cursor: pointer;
}

.soc_a2 {
    background-image: url('../image/what.svg');
    /* margin-left: 100%; */
}

.soc_a:hover {
    background-image: url('../image/telh.svg');
}

.soc_a:focus {
    background-image: url('../image/telf.svg');
}

.soc_a2:hover {
    background-image: url('../image/whath.svg');
}

.soc_a2:focus {
    background-image: url('../image/whatf.svg');
}

.mail {
    grid-area: mail;
    min-width: 185px;
    /* justify-self: end; */
    text-align: right;
}

.mail a {
    max-width: 400px;
    text-decoration: none;
    text-align: right;
    font-weight: 400;
    font-size: calc(12px + 8 *(100vw/1440));
    line-height: 160%;
    color: #969696;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    display: flex;
    background: #131313;
    height: 4%;
    padding: 1% 3%;
}

footer img {
    width: 6%;
    height: 80%;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    overflow: auto;
}

.hidden {
    display: none;
}

.popup:target {
    opacity: 1;
}

.popup_body {
    overflow: hidden;
    min-width: 320px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_content {
    box-sizing: border-box;
    background: #0E0E0E;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
    color: #fff;
    width: 70%;
    height: 75%;
    min-width: 300px;
    max-height: 677px;
    max-width: 1059px;
    text-align: left;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 37px 37px 37px 65px;
    border-radius: 70px 1px 1px 25px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.popup_content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 80%;
    max-width: 425px;
    min-width: 280px;
}

.popup_title {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: calc(24px + 12 *(100vw/1440));
    margin: 2% 0;
}

hr {
    margin-left: 0;
    width: 10%;
    border: 4px solid #fff;
    background-color: #fff;
}

.popup_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: calc(14px + 6 *(100vw/1440));
    color: #fff;
    margin: 2% 0;
}

.native {
    width: 70%;
}

.text button {
    width: 60%;
    margin-top: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: calc(14px + 6 *(100vw/1440));
    padding: 15px;
    color: #000;
    text-align: center;
    white-space: nowrap;
    background: #fff;
    border-radius: 4%/15%;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background: white;
    width: 11px;
    height: 11px;
}

.swiper1 {
    width: 100%;
    height: 440px;
    max-width: 1440px;
}

.swiper2 {
    /* width: 80%;
    height: 90%; */
    width: 450px;
    height: 520px;
}

.swiper2 .swiper-container>.swiper-pagination-bullets,
.swiper-pagination2 {
    bottom: 5px !important;
}

.swiper2 .swiper-pagination {
    bottom: 0;
  }
.swiper2 .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.swiper2 .swiper-pagination-bullet-active {
    background-color: #FFFFFF;
}

.popup2_content {
    box-sizing: border-box;
    background: #E8E8E8;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
    color: #1C1C1C;
    width: 70%;
    height: 75%;
    min-width: 300px;
    /* min-height: fit-content; */
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    justify-items: center;
    align-items: start;
    padding: 2% 2%;
    border-radius: 70px 1px 1px 25px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.popup2_content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.popup2_content .popup_card {
    cursor: pointer;
}

.popup_cards {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: last baseline;
}

.popup_card {
    width: 30%;
    min-width: 260px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    margin-bottom: 3%;
    transition: transform .3s;
    position: relative;
}

.popup_card:hover {
    transform: scale(1.03);
}

.popup_card hr {
    border: 2px solid #FFFFFF;
    background-color: #fff;
}

.popup_card img {
    width: 100%;
}

.card_title {
    font-weight: 700;
    font-size: calc(12px + 4 *(100vw/1440));
    line-height: 22px;
    color: #FFFFFF;
    white-space: nowrap;
}

.card_text {
    font-weight: 400;
    font-size: calc(12px + 4 *(100vw/1440));
    color: #FFFFFF;
    margin-top: 30px;
}

.card_text_container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px 15px;
}


/* .card1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('.');
    background-size: cover;
    background-repeat: no-repeat;
} */

.card2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/b2b/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/b2b/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/b2c/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card5 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/b2c/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card6 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/b2c/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card7 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/b2g/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card8 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/b2g/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card9 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/b2g/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* .card10 {
    background: url('../image/b2b/komp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card11 {
    background: url('../image/b2c/chast.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card10 {
    background: url('../image/b2g/gos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.b2b {
    justify-self: flex-end;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: calc(14px + 6 *(100vw/1440));
    padding: 2% 3%;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background: #0E0E0E;
    border-radius: 4%/15%;
}

.b2b:hover {
    background: #222222;
}

.b2b:focus {
    background: rgba(14, 14, 14, 0.5);
}

#loader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    /* transform: translateX(-50%); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../image/loader/a2.gif');
    border: 0px;
}

.desktop-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

video {
    width: 100%;
    height: auto;
    max-width: 450px;
}

@media (max-width: 780px) {
    .popup_content {
        padding: 10px;
        border-radius: 10px;
        max-height: 450px;
    }
    .rabotali {
        width: 60%;
    }
    .popup_text {
        height: 100%;
    }
    .swiper2 {
        width: 280px;
        height: 370px;
    }
    .popup2_content {
        padding: 10px;
        border-radius: 10px;
        max-height: 450px;
        justify-content: center;
    }
    .popup_cards {
        justify-content: center;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .swiper2 {
        width: 273px;
        height: 350px;
    }
}

@media (min-width:1024px) and (max-width: 1440px) {
    .swiper2 {
        width: 320px;
        height: 400px;
    }
    .popup2_content {
        width: 850px;
        height: 500px;
    }
    .popup_card {
        height: 320px;
    }
    .popup_content {
        padding: 20px 20px 20px 40px;
        width: max-content;
    }
}

@media (min-width:1440px) {
    .popup_content {
        flex-flow: row nowrap;
        height: 677px;
    }
    .swiper2 {
        width: 513px;
        height: 603px;
    }
    .popup2_content {
        width: 1059px;
        height: 699px;
    }
    .popup_card {
        height: 460px;
        width: 318px;
    }
    .image video {
        width: 513px;
        height: 603px;
        padding: 96px 0;
    }
}

@media screen and (max-width: 780px) {
    .desktop-menu {
        display: none;
    }
}

@media screen and (min-width: 780px) {
    .hamburger-menu {
        display: none;
    }
    .popup_content {
        flex-direction: inherit;
    }
}


/* BURGER menu */

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 6px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 1);
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #0E0E0E;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu__list-desk {
    display: flex;
    color: #797979;
}
.menu__desc-item{
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-right: 71px;
    padding: 0 10px;
    padding-bottom: 7px;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.menu__desc-item:hover {
    background-size: 100% 2px;
    color: #fff;
}

.menu__item {
    display: block;
    padding: 5px 5px;
    margin: 10px 0;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.menu__item-mobile,
.menu__contact{
    display: none;
}

@media screen and (max-width: 1024px) {
    .menu__item-mobile{
        display: block;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65vh;
        color: #E8E8E8;
    }
    .menu__item {
        font-size: 24px;
        line-height: 22px;
        font-weight: 400;
    }
    .menu__item:hover {
        background: rgba(14, 14, 14, 0.5);
    }
    .menu__contacts {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
    }
    .menu__contact-email,
    .menu__contact-phone{
        padding-top: 4px;
        text-decoration: none;
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;
        text-align: center;
        font-family: 'Century Gothic', sans-serif;
        color: rgba(255, 255, 255, 0.6);
    }
    .menu__social{
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
    .menu__social-item{
        padding-right: 15px;
    }
}


.box {
    width: 100%;
    height: min-content;
    background: transparent;
    margin: auto;
    border: 2px solid transparent;
    text-align: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: 500ms ease;
    display: block;
}

.box:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: '';
    background: #fff;
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.box:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: '';
    background: #fff;
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.box-inner:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: '';
    background: #fff;
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.box-inner:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: '';
    background: #fff;
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.box:hover {
    border-color: transparent;
    background: #0f2834;
}

.box:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.box:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.box:hover .box-inner:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.box:hover .box-inner:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

input.rotate-animation {
    margin: 0;
    outline: none;
    border-radius: 0;
    padding: 2%;
    border: none;
    color: white !important;
}

.box {
    margin: 15px 0;
}

div#wpcf7-f5-o1 {
    min-width: 300px;
    width: 35%;
}

.wpcf7-form-control-wrap[data-name='user-question'] {
    width: 100%;
}

