@import url(./century_gothic.css);
html,
body {
  width: 100%;
  background: #0E0E0E;
  font-style: normal;
  font-family: 'Century Gothic';
}

header {
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(5, 5, 5, 0.6);
  box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8.5px);
  z-index: 2;
}

.header__logo {
  display: none;
}
@media (max-width: 1024px) {
  header {
    justify-content: space-between;
  }
  .header__logo {
    display: block;
    justify-self: center;
    width: 52px;
    z-index: 3;
    padding-left: 24px;
  }
  .header__logo-img{
    width: 50px;
  }
}
.menu__btn-desk {
  width: 175px;
  height: 50px;
  border-width: 1px;
  border-radius: 5px;
  background-color: #ebebeb;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #1c1c1c;
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.menu__btn-desk:hover {
  background: #797979;
}

.za_btn {
  margin: 0;
  position: absolute;
  right: 10px;
  bottom: 7px;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5%/28%;
  color: black;
  font-weight: 600;
  transition-duration: 200ms;
}
@media (max-width: 1024px) {
  .za_btn {
    display: none;
  }
}

.preview {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .preview {
    height: 100vh;
  }
}

.preview-img {
  transition-duration: 800ms;
}

@media (max-width: 1024px) {
  .preview-img {
    padding-top: 150px;
  }
}

.preview-img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.preview-text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  min-width: 280px;
  color: #fff;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .preview-text {
    font-size: 15px;
    padding: 0 25px;
    padding-top: 100px;
  }
}

.portfolio {
  padding-bottom: 15px;
}

.portfolio__card {
  position: relative;
  cursor: pointer;
}

@media (max-width: 374px) {
  .portfolio__card {
    padding-left: 55px;
  }
}


    .portfolio__card .bg{
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    transition: .3s;
    }
    .portfolio__card:hover .bg{
    background: none;
    }


.portfolio__title {
  position: absolute;
  max-width: 200px;
  bottom: 15px;
  left: 15px;
  color: #E8E8E8;
  font-family: 'Century Gothic';
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
  z-index: 10;
  padding-bottom: 5px;
}

.portfolio__card:hover .portfolio__title {
  background-size: 100% 2px;
  color: #fff;
}

@media (max-width: 374px) {
  .portfolio__title {
    left: 65px;
    font-size: 16px;
    min-width: 180px;
  }
}

@media (max-width: 1024px) {
  .portfolio__title {
    font-size: 16px;
    min-width: 180px;
  }
}

.portfolio__img {
  max-height: 369px;
}

.uslugi_card-swiper .swiper-button-prev,
.uslugi_card-swiper .swiper-button-next,
.portfolio .swiper-button-prev,
.portfolio .swiper-button-next {
  display: none;
}
.uslugi_card-swiper .swiper-button-prev::after,
.uslugi_card-swiper .swiper-button-next::after,
.portfolio .swiper-button-prev::after,
.portfolio .swiper-button-next::after {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .uslugi_card-swiper .swiper-button-prev,
  .uslugi_card-swiper .swiper-button-next,
  .portfolio .swiper-button-prev,
  .portfolio .swiper-button-next {
    display: block;
  }
}

@media (max-width: 1024px) {
  .portfolio__img {
    max-height: 241px;

  }
}

.about {
  position: relative;
  width: 100vw;
  max-width: 100%;
  background: #eae6e6;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .about {
    margin-top: -80px;
  }
}

.about__title {
  width: min-content;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  color: #1c1c1c;
  white-space: nowrap;
  font-family: 'Century Gothic';
  padding-top: 15px;
  margin-bottom: 230px;
}

@media (max-width: 1024px) {
  .about__title {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .about__title {
    font-size: 15px;
    padding-top: 75px;
    margin-bottom: 34px;
  }
}

.about__title:hover {
  color: #0e0e0e;
  text-shadow: -1px -1px 0 #eae6e6, 1px -1px 0 #eae6e6, -1px 1px 0 #eae6e6,
    1px 1px 0 #eae6e6;
}

.about__title {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 1024px) {
  .about__wrapper {
    flex-direction: column;
  }
}

.about__wrapper::before {
  content: '';
  position: absolute;
  background-image: url(../images/about-img-decor.png);
  bottom: 0;
  right: 0;
  top: -15%;
  left: 1;
  width: 90px;
  height: 140px;
}

@media (max-width: 1024px) {
  .about__wrapper::before {
    display: none;
  }
}
.about__desc {
  padding-left: 90px;
}
@media (max-width: 1024px) {
  .about__desc {
    padding: 0 20px 42px 16px;
  }
}
.about__desc-title {
  display: inline-block;
  font-family: Century Gothic;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 160px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .about__desc-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
}


.about__desc-title:hover {
  color: #e8e8e8;
  text-shadow: -1px -1px 0 #1c1c1c, 1px -1px 0 #1c1c1c, -1px 1px 0 #1c1c1c,
    1px 1px 0 #1c1c1c;
}


.about__desc-title::after {
  content: '';
  position: absolute;
  background-image: url(../images/about-title-decor.png);
  right: 0;
  bottom: 0;
  top: -70%;
  left: -85%;
  width: 116px;
  height: 100px;
  z-index: 0;
}
@media (max-width: 1024px) {
  .about__desc-title::after {
    display: none;
  }
}

.about__desc-text {
  font-family: Century Gothic;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  max-width: 434px;
  margin-bottom: 6px;
}

@media (max-width: 1024px) {
  .about__desc-text {
    font-size: 15px;
    line-height: 16px;
    text-align: justify;
  }
}

.about__desc-img {
  width: 100%;
  max-width: 840px;
}

.partners {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0 75px 0;
}

@media (max-width: 1024px) {
  .partners {
    padding: 30px 19px;
  }
}

.partners__title {
  font-weight: 700;
  font-size: 40px;
  color: #eae6e6;
}

@media (max-width: 1024px) {
  .partners__title {
    font-size: 18px;
  }
}

.partners__title:hover {
  color: #0e0e0e;
  text-shadow: -1px -1px 0 #eae6e6, 1px -1px 0 #eae6e6, -1px 1px 0 #eae6e6,
    1px 1px 0 #eae6e6;
}


.partners__logos {
  margin-top: 50px;
  max-width: 995px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partners__img {
  padding: 20px 30px;
  object-fit: scale-down;
  transition: transform 0.2s;
  transition-duration: 400ms;
}

@media (max-width: 1024px) {
  .partners__img {
    padding: 10px 10px;
    max-width: 100px;
  }
}

.partners__img:hover {
  transform: scale(1.1);
}

.section5 {
  background: #e8e8e8;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .section5 {
    height: 100vh;
  }
}

.uslugi {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .uslugi {
    margin-bottom: 0;
    flex-direction: column-reverse;
  }
}

.uslugi_text {
  min-width: 270px;
  padding-top: 100px;
  padding-left: 90px;
}

@media (max-width: 1024px) {
  .uslugi_text {
    width: 100%;
    padding: 0 36px 30px 16px;
  }
}

.uslugi_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #1c1c1c;
  margin-bottom: 40px;
}

.uslugi_title:hover {
  color: #e8e8e8;
  text-shadow: -1px -1px 0 #1c1c1c, 1px -1px 0 #1c1c1c, -1px 1px 0 #1c1c1c,
    1px 1px 0 #1c1c1c;
}

.uslugi_desc {
  font-size: 20px;
}

@media (max-width: 1024px) {
  .uslugi_title {
    margin-top: -80px;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .uslugi_desc {
    font-size: 15px;
    margin-top: -15px;
  }
}

.uslugi_text span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.uslugi_text p,
span {
  width: 100%;
  max-width: 760px;
  color: #000;
  line-height: 25px;
}

.a2back {
  margin-top: -10px;
  height: 120px;
  width: 18%;
  min-width: 60px;
  background-image: url('../images/a2back.svg');
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.a2back:hover {
  background-image: url('../images/a2backhover.svg');
  background-size: contain;
}

@media (max-width: 1024px) {
  .a2back {
    width: 200px;
    margin-right: -10px;
    align-self: flex-end;
  }
}

@media (min-width: 769px) {
  .uslugi_card-swiper {
    display: none !important;
  }
  .uslugi-desktop {
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    margin-bottom: 30px;
  }
  .ucard-desktop {
    position: relative;
    transition: transform 0.2s;
    transition-duration: 400ms;
  }
  .ucard-desktop-text {
    position: absolute;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    bottom: 0;
  }
  .ucard-desktop-img {
    max-width: 472px;
    cursor: pointer;
  }
  .ucard-desktop:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .ucard-desktop-img {
    width: 240px;
  }
  .ucard-desktop-text {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  .ucard-desktop-img {
    min-width: 520px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .uslugi-desktop {
    display: none;
  }
  .uslugi_card-swiper {
    display: flex;
    justify-content: space-between;
  }

  .ucard {
    position: relative;
  }

  .ucard-img {
    cursor: pointer;
  }

  .ucard-text {
    max-width: 210px;
    color: #fff;
    position: absolute;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 10px;
    bottom: 0;
    margin-right: auto;
  }
}

.section6 {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

@media (max-width: 768px) {
  .section6 {
    margin-top: -50px;
    background-color: #000000;
  }
}

.zayavka {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.main-form__title {
  font-family: 'Century Gothic';
  color: #fff;
  font-weight: 700;
  font-size: 40px;
}

.main-form__title:hover {
  color: #0e0e0e;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@media (max-width: 1024px) {
  .main-form__title {
    font-size: 18px;
    padding-bottom: 10px;
  }
}

.inputs {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 36%;
  max-width: 476px;
  min-width: 280px;
}

input[type='text'] {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 23px;
  margin: 3% 0;
  display: inline-block;
  background-color: rgba(6, 6, 6, 1);
  border-color: rgba(175, 175, 175, 0.6);
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.phone_mail {
  box-sizing: border-box;
  width: 100%;
  margin: 3% 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

input[type='email'],
[type='tel'] {
  box-sizing: border-box;
  width: 49%;
  padding: 16px 23px;
  display: inline-block;
  background-color: rgba(6, 6, 6, 1);
  border-color: rgba(175, 175, 175, 0.6);
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

textarea {
  box-sizing: border-box;
  resize: vertical;
  font-family: 'Century Gothic';
  font-weight: 400;
  font-size: 16px;
  padding: 16px 23px;
  width: 100%;
  height: 50%;
  min-height: 130px;
  margin: 3% 0;
  background-color: rgba(6, 6, 6, 1);
  color: #fff;
  border-color: rgba(175, 175, 175, 0.6);
  font-style: normal;
}

input[type='submit'] {
  box-sizing: border-box;
  padding: 2%;
  margin: 3% 0;
  width: 100%;
  background: #f4f4f4;
  font-weight: 400;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  color: #1c1c1c;
}

input::placeholder,
textarea::placeholder{
  font-family: 'Century Gothic';
  font-weight: 400;
  font-size: 16px;
}  

@media (max-width: 768px) {
  input::placeholder,
  textarea::placeholder{
    font-size: 11px;
  }
  input {
    height: 30px;
  }
}


input[type='submit']:hover {
  background: #c8c8c8;
}

input[type='submit']:focus {
  background: rgba(244, 244, 244, 0.5);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.25);
}
@media (max-width: 490px) {
  .form__button {
    min-height: 40px;
  }
}

.input-file {
  display: flex;
}

.input-file-btn {
  cursor: pointer;
  padding: 0 20px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: #060606;
  background: #f4f4f4;
  transition: background-color 0.2s;
  cursor: pointer;
  white-space: nowrap;
}

.file_wrap {
  display: block;
}

.input-file-btn:hover {
  background: #c8c8c8;
}

.input-file-btn:focus {
  background: #f4f4f480;
}

.input-file-text {
  padding: 0 0 0 4%;
  font-weight: 400;
  font-size: calc(12px + 8 * (100vw / 1440));
  line-height: 25px;
  color: #c8c8c8;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
}

.input-file input[type='file'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.seti {
  margin: 1% 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas: '. soc mail';
}

@media (max-width: 480px) {
  .seti {
    grid-template-columns: 1fr;
    grid-template-areas: ' soc ' ' mail';
    row-gap: 5px;
  }
  .file_wrap {
    height: 27px;
    width: 116px;
  }
  input[type='email'],
  input[type='tel'],
  input[type='text'] {
    padding: 16px 7px;
  }
  .input-file-btn{
    font-size: 11px;
  }
}

.file_name {
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.soc {
  width: 90px;
  grid-area: soc;
  justify-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.soc a {
  width: 30px;
  height: 30px;
}

.soc_a,
.soc_a2 {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('../images/tel.svg');
  background-size: contain;
  cursor: pointer;
}

.soc_a2 {
  background-image: url('../images/what.svg');
  /* margin-left: 100%; */
}

.soc_a:hover {
  background-image: url('../images/telh.svg');
}

.soc_a:focus {
  background-image: url('../images/telf.svg');
}

.soc_a2:hover {
  background-image: url('../images/whath.svg');
}

.soc_a2:focus {
  background-image: url('../images/whatf.svg');
}

.mail {
  grid-area: mail;
  min-width: 185px;
  /* justify-self: end; */
  text-align: right;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .mail {
    padding-top: 10px;
  }
}

.mail a {
  max-width: 400px;
  text-decoration: none;
  text-align: right;
  font-weight: 400;
  font-size: calc(12px + 8 * (100vw / 1440));
  line-height: 160%;
  color: #969696;
  cursor: pointer;
}
@media (max-width: 768px) {
  .mail a {
    font-size: 12px;
  }
}

.footer {
  background: #131313;
  height: 68px;
}
.footer__wrapper {
  padding: 0 42px;
}
.footer__logo-img{
  max-width: 82px;
  padding-top: 16px;
}

@media (max-width: 768px) {
  .footer {
    background: #131313;
    height: 40px;
  }
  .footer__wrapper {
    padding: 0 32px;
  }
  .footer__logo-img{
    max-width: 42px;
    padding-top: 11px;
  }
}

.popup {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 3;
  overflow: auto;
}

.hidden {
  display: none;
}

.popup:target {
  opacity: 1;
}

.popup_body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_content {
  max-width: 1059px;
  max-height: 677px;
  background: #0e0e0e;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 37px 37px 65px;
  border-radius: 70px 1px 1px 25px;
  scrollbar-width: none;
}

.popup_popup-close {
  display: none;
}

@media (max-width: 490px) {
  .popup_body {
    align-items: flex-end;
  }
  .popup_title,
  hr {
    display: none;
  }
  .popup_content {
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .popup_text {
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    padding: 25px 15px 10px 15px;
  }

  .swiper2{
    max-width: 490px;
  }

  .popup_slide-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .popup_swiper-wrapper video{
    padding-top: 220px;
    margin: 0 auto;
    max-width: 450px;
  }
  .popup_popup-close {
    display: block;
    position: absolute;
    top: 25px;
    left: 15px;
    width: 50px;
    z-index: 100;
    cursor: pointer;
  }
}
@media (max-width: 320px) {
  .swiper2{
    max-width: 320px;
  }
  .popup_swiper-wrapper video{
    padding-top: 200px;
    margin: 0 auto;
    max-width: 290px;
  }
}

@media (max-width: 375px) {
  .swiper2{
    max-width: 375px;
  }
  .popup_swiper-wrapper video{
    padding-top: 220px;
    margin: 0 auto;
    max-width: 350px;
  }
}
@media (max-width: 390px) {
  .swiper2{
    max-width: 390px;
  }
  .popup_swiper-wrapper video{
    padding-top: 220px;
    margin: 0 auto;
    max-width: 375px;
  }
}
@media (max-width: 420px) {
  .swiper2{
    max-width: 420px;
  }
  .popup_swiper-wrapper video{
    padding-top: 240px;
    margin: 0 auto;
    max-width: 400px;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.popup_btn {
  margin-top: 45px;
  max-width: 238px;
  height: 59px;
  border-radius: 5px;
  background-color: #ebebeb;
  border: none;
  cursor: pointer;
  z-index: 1;
  color: #1c1c1c;
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

@media (max-width: 490px) {
  .popup_btn {
    min-width: 282px;
    max-height: 40px;
    border-radius: 17px;
    text-align: center;
    margin: 15px auto;
  }
}

.popup_btn:hover {
  background: #797979;
}

/* @media (max-width: 780px) {
    .popup_content {
        padding: 10px;
        border-radius: 10px;
        max-height: 450px;
    }
    .rabotali {
        width: 60%;
    }
    .popup_text {
        height: 100%;
    }
    .swiper2 {
        width: 280px;
        height: 370px;
    }
    .popup2_content {
        padding: 10px;
        border-radius: 10px;
        max-height: 450px;
        justify-content: center;
    }
    .popup_cards {
        justify-content: center;
    }
} */

/* .popup_content::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

/* .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 80%;
  max-width: 425px;
  min-width: 280px;
} */

/* .popup_title {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: calc(24px + 12 * (100vw / 1440));
  margin: 2% 0;
} */

/* hr {
  margin-left: 0;
  width: 10%;
  border: 4px solid #fff;
  background-color: #fff;
} */

/* .popup_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 6 * (100vw / 1440));
  color: #fff;
  margin: 2% 0;
} */

/* .native {
  width: 70%;
} */

/* .swiper2 {
  width: 450px;
  height: 520px;
} */

.swiper2 .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.swiper-popup2 .swiper-pagination {
  bottom: 80px !important;
}

.swiper2 .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.popup2_content {
  box-sizing: border-box;
  background: #e8e8e8;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
  color: #1c1c1c;
  width: 70%;
  height: 75%;
  min-width: 300px;
  /* min-height: fit-content; */
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  justify-items: center;
  align-items: start;
  padding: 2% 2%;
  border-radius: 1px 70px 1px 25px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.popup2_content::before {
  content: '';
  position: absolute;
  background-image: url(../images/popup2-decor.svg);
  bottom: 0;
  top: 0;
  right: 169px;
  width: 142px;
  height: 50px;
}

.popup2_content::after {
  content: '';
  position: absolute;
  background-image: url(../images/popup2-decor.svg);
  bottom: 121px;
  left: 20px;
  width: 142px;
  height: 50px;
  z-index: 0;
}

@media (max-width: 780px) {
  /* .swiper2 {
    width: 280px;
    height: 370px;
  } */
  .popup2_content {
    padding: 10px;
    border-radius: 10px;
    max-height: 450px;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* .swiper2 {
    width: 273px;
    height: 350px;
  } */
  .popup_content {
    padding: 10px;
    border-radius: 10px;
    max-height: 450px;
  }
  .popup_cards {
    justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .swiper2 {
    width: 320px;
    height: 400px;
  }
  .popup2_content {
    width: 850px;
    height: 500px;
  }
  .popup_card {
    height: 320px;
  }
  .popup_content {
    padding: 20px 20px 20px 40px;
    width: max-content;
  }
}

@media (min-width: 1440px) {
  .popup_content {
    max-height: 699px;
  }
  .swiper2 {
    width: 513px;
    height: 603px;
  }
  .popup2_content {
    width: 1059px;
    height: 699px;
  }
  .popup_card {
    height: 460px;
    width: 318px;
  }
  .image video {
    width: 513px;
    height: 603px;
    padding: 96px 0;
  }
}

@media (max-width: 780px) {
  .desktop-menu {
    display: none;
  }
}

.popup2_content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.popup2_content .popup_card {
  cursor: pointer;
}

.popup_cards {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: last baseline;
}

.popup_card {
  width: 30%;
  min-width: 260px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  margin-bottom: 3%;
  transition: transform 0.3s;
  position: relative;
}

.popup_card:hover {
  transform: scale(1.03);
}

.popup_card hr {
  border: 2px solid #ffffff;
  background-color: #fff;
}

.popup_card img {
  max-width: 300px;
  z-index: 1;
}

.card_title {
  font-weight: 700;
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 22px;
  color: #ffffff;
}

.card_text {
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw / 1440));
  color: #ffffff;
  margin-top: 30px;
}

.card_text_container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 15px 15px;
  z-index: 2;
}

.swiper-slide-popup2 {
  position: relative;
  min-height: 800px;
}
.popup_slide-text--popup2 {
  position: absolute;
  top: 15px;
  right: 80px;
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.popup_content-popup2 {
  background: #e8e8e8;
}

.popup_btn--popup2 {
  color: #e8e8e8;
  background: #1d1d1d;
}

.popup_title--popup2 {
  padding: 0 10px;
  font-family: Century Gothic;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #1d1d1d;
  text-align: start;
}
.popup_text--popup2 {
  color: #1d1d1d;
  padding-top: 20px;
  padding: 10px 10px;
  font-family: Century Gothic;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

/* .card1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('.');
    background-size: cover;
    background-repeat: no-repeat;
} */

.card2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/b2b/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/b2b/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/b2c/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card5 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/b2c/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card6 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/b2c/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card7 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/b2g/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card8 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/b2g/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card9 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/b2g/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* .card10 {
    background: url('../image/b2b/komp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card11 {
    background: url('../image/b2c/chast.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card10 {
    background: url('../image/b2g/gos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.b2b {
  justify-self: flex-end;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: calc(14px + 6 * (100vw / 1440));
  padding: 2% 3%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background: #0e0e0e;
  border-radius: 4%/15%;
}

.b2b:hover {
  background: #222222;
}

.b2b:focus {
  background: rgba(14, 14, 14, 0.5);
}

#loader {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  /* transform: translateX(-50%); */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url('../images/loader/a2.gif');
  border: 0px;
}

.desktop-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
  max-width: 450px;
}

/* @media (max-width: 780px) {
    .popup_content {
        padding: 10px;
        border-radius: 10px;
        max-height: 450px;
    }
    .rabotali {
        width: 60%;
    }
    .popup_text {
        height: 100%;
    }
    .swiper2 {
        width: 280px;
        height: 370px;
    }
    .popup2_content {
        padding: 10px;
        border-radius: 10px;
        max-height: 450px;
        justify-content: center;
    }
    .popup_cards {
        justify-content: center;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .swiper2 {
        width: 273px;
        height: 350px;
    }
}

@media (min-width:1024px) and (max-width: 1440px) {
    .swiper2 {
        width: 320px;
        height: 400px;
    }
    .popup2_content {
        width: 850px;
        height: 500px;
    }
    .popup_card {
        height: 320px;
    }
    .popup_content {
        padding: 20px 20px 20px 40px;
        width: max-content;
    }
}

@media (min-width:1440px) {
    .popup_content {
        flex-flow: row nowrap;
        height: 677px;
    }
    .swiper2 {
        width: 513px;
        height: 603px;
    }
    .popup2_content {
        width: 1059px;
        height: 699px;
    }
    .popup_card {
        height: 460px;
        width: 318px;
    }
    .image video {
        width: 513px;
        height: 603px;
        padding: 96px 0;
    }
}

@media (max-width: 780px) {
    .desktop-menu {
        display: none;
    }
}

@media (min-width: 780px) {
    .hamburger-menu {
        display: none;
    }
    .popup_content {
        flex-direction: inherit;
    }
} */

/* BURGER menu */

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 14px;
  right: 20px;
  width: 29px;
  height: 29px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 780px) {
  .desktop-menu {
    display: none;
  }
}

@media (min-width: 781px) {
  .hamburger-menu {
    display: none;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 22px;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: '';
  width: 28px;
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  width: 28px;
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #0e0e0e;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__list-desk {
  display: flex;
  color: #797979;
}
.menu__desc-item {
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 71px;
  padding: 0 10px;
  padding-bottom: 7px;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}

.menu__desc-item:hover {
  background-size: 100% 2px;
  color: #fff;
}

.menu__item {
  display: block;
  padding: 5px 5px;
  margin: 10px 0;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}

.menu__item-mobile,
.menu__contact {
  display: none;
}

@media (max-width: 1024px) {
  .desktop-menu {
    display: none;
  }
  .menu__item-mobile {
    display: block;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    color: #e8e8e8;
  }
  .menu__item {
    font-size: 24px;
    line-height: 22px;
    font-weight: 400;
  }
  .menu__item:hover {
    background: rgba(14, 14, 14, 0.5);
  }
  .menu__contacts {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
  .menu__contact-email,
  .menu__contact-phone {
    padding-top: 4px;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
    color: rgba(255, 255, 255, 0.6);
  }
  .menu__social {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .menu__social-item {
    padding-right: 15px;
  }
}

.box {
  width: 100%;
  height: min-content;
  background: transparent;
  margin: auto;
  border: 2px solid transparent;
  text-align: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: 500ms ease;
  display: block;
}

.box:before {
  position: absolute;
  width: 0;
  height: 2px;
  content: '';
  background: #fff;
  top: -2px;
  left: -2px;
  transition: 100ms width ease 300ms;
  -web-kit-transition: 100ms width ease 300ms;
}

.box:after {
  position: absolute;
  width: 2px;
  height: 0;
  content: '';
  background: #fff;
  top: -2px;
  right: -2px;
  transition: 100ms height ease 200ms;
  -web-kit-transition: 100ms height ease 200ms;
}

.box-inner:after {
  position: absolute;
  width: 0;
  height: 2px;
  content: '';
  background: #fff;
  bottom: -2px;
  right: -2px;
  transition: 100ms width ease 100ms;
  -web-kit-transition: 100ms width ease 100ms;
}

.box-inner:before {
  position: absolute;
  width: 2px;
  height: 0;
  content: '';
  background: #fff;
  bottom: -2px;
  left: -2px;
  transition: 100ms height ease 0ms;
  -web-kit-transition: 100ms height ease 0ms;
}

.box:hover {
  border-color: transparent;
  background: #0f2834;
}

.box:hover:before {
  width: calc(100% + 2px);
  transition: 100ms width ease 0ms;
  -web-kit-transition: 100ms width ease 0ms;
}

.box:hover:after {
  height: calc(100% + 2px);
  transition: 100ms height ease 100ms;
  -web-kit-transition: 100ms height ease 100ms;
}

.box:hover .box-inner:after {
  width: calc(100% + 2px);
  transition: 100ms width ease 200ms;
  -web-kit-transition: 100ms width ease 200ms;
}

.box:hover .box-inner:before {
  height: calc(100% + 2px);
  transition: 100ms height ease 300ms;
  -web-kit-transition: 100ms height ease 300ms;
}

input.rotate-animation {
  margin: 0;
  outline: none;
  border-radius: 0;
  padding: 2%;
  border: none;
  color: white !important;
}

.box {
  margin: 15px 0;
}

div#wpcf7-f5-o1 {
  min-width: 300px;
  width: 35%;
}

.wpcf7-form-control-wrap[data-name='user-question'] {
  width: 100%;
}
